.search-form {
  background-color: #11112f;
  color: white;
  padding: 1.2rem;
  margin-top: 60px;
}
.search-form__heading {
  font-size: 1.6rem;
}

.search-form__select {
  margin: 0 auto;
  width: 100%;
  margin-top: 1.3rem;
  padding: 0 0.5rem;
  height: 40px;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../down-arrow.svg") no-repeat right center;
  background-color: white;
  color: #11112f;
  font-size: 0.85rem;
  background-size: contain;
  display: block;
}
.search-form__button-container {
  display: flex;
  justify-content: space-between;
}
.search-form__button {
  background-color: #7d2d45;
  padding: 0.5rem;
  color: white;
  border: none;
  font-size: 1.1rem;
  margin-top: 1rem;
  outline: none;
}
@media screen and (min-width: 600px) {
  .search-form {
    text-align: center;
  }
  .search-form__heading {
    font-size: 3rem;
  }
  .search-form__select {
    width: 50%;
  }
  .search-form__button-container {
    width: 50%;
    margin: 0 auto;
  }
}
