.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
  cursor: pointer;
}
.toggle-button__line {
  width: 30px;
  height: 2px;
  background-color: #7d2d45;
}
