.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: ghostwhite;
  height: 60px;
}
.navigation__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}
.navigation__logo {
  margin-left: 1rem;
}
.navigation__logo a {
  color: #7d2d45;
  text-decoration: none;
  font-size: 1.5rem;
}

.navigation_container-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navigation_container-items li {
  padding: 0 0.5rem;
}
.navigation_container-items a {
  color: #7d2d45;
  text-decoration: none;
}

.navigation_container-items a:hover,
.navigation_container-items a:active {
  color: #fa923f;
}

@media screen and (max-width: 600px) {
  .navigation_container-items {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .navigation__toggle-button {
    display: none;
  }
}
