.org-info__container {
  margin-left: 1rem;
}
.org-info__what {
  font-weight: bold;
}
.org-info__image {
  width: 200px;
  height: 150px;
}

.scroll-top {
  width: 50px;
  height: 40px;
  border: 2px solid #7d2d45;
  border-radius: 100%;
  text-align: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.scroll-top__button {
  border: none;
  background-color: white;
  border-radius: 100%;
  width: inherit;
  height: inherit;
  outline: none;
  cursor: pointer;
}
.scroll-top__img {
  width: 30px;
  height: 30px;
}
