.search-form{
    background-color: #11112F;
    color: white;
    padding: 4rem;
}
.search-form__heading{
    font-size: 1.6rem;
}

.search-form__select{
     margin-top: 1.3rem;
     margin-right: 0.4rem;
  padding: 0 0.5rem;
  border: 1px solid #ccc;
  height: 40px;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("./down-arrow.svg")
    no-repeat right center;
    background-color: white;
    color: dimgray;
    font-size: 1rem;
    background-size: contain;
}
.search-form__submit{
    background-color: #63D5C3;
    padding: 0.5rem;
    color: white;
    border: none;
    font-size: 1rem;
}
@media only screen and (min-width: 400px){
    .search-form__heading{
        font-size: 3rem;
    }
}